.userdata {
    padding: 40px 15px;
    .passwordReq {
        width: 500px;
        transition: 0.5s;
        // height: 150px;
        background-color: red;
        position: fixed;
        left: 50%;
        top: -100%;
        // top: 50px;
        border: 2px solid var(--t);
        &.active {
            top: 50px;
        }
        transform: translateX(-50%);
        z-index: 10;
        background-color: beige;
        border-radius: 40px  0 40px 40px;
        padding: 20px;
        text-align: center;
        button {
            display: block;
            margin: 20px ;
            margin-bottom: 0;
            transition: 0.4s;
            border-radius: 50px;
            border: 2px solid transparent;
            padding: 12px 20px;
            color: white;
            background-color: var(--t);
            cursor: pointer;
            width: 160px;
            margin-left: auto;
            text-transform: capitalize;
            margin-right: auto;
            &:hover {
                color: var(--t);
                background-color: white;
                border-color: var(--color-one);
            }
        }
        p {
            
            font-size: 20px;
            font-weight: 700;
            color: var(--t);
            text-transform: capitalize;
            width: fit-content;
            margin: 0 auto 35px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -15px;
                width: 100%;
                height: 2px;
                background-color: var(--t);

            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: var(--t);
                left: 50%;
                transform: translateX(-50%);
                bottom: -21px;
            }
        }
        
        i {
            position: absolute;
            right: -17px;
            top: -17px;
            width: 37px;
            height: 37px;
            border-radius: 50%;
            color: beige;
            cursor: pointer;
            background-color: var(--t);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.4s;
            &:hover {
                color: var(--t);
                background-color: white;
                border-color: var(--color-one);
            }
        }
        input {
            padding: 8px 20px;
            border: 2px solid var(--color-two);
            border-radius: 16px;
            transition: 0.3s;
            color: var(--t);
            max-width: 100%;
            &:focus {
                outline: none;
                border-color: var(--color-one);
                    }
            &::placeholder {
                font-weight: 500;
                text-transform: capitalize;

            }
        }
    }
    .moreinfo {
        transition: 0.4s;
        padding: 40px 20px;
        position: fixed;
        z-index: 5;
        background-color: beige;
        top: -116%;
        right:0 ;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: calc(100% - 120px);
        display: flex;
        border: 1px solid transparent ;
        border-color: transparent var(--t) var(--t);
        border-bottom-width: 2px;
        isolation: isolate;
        .addmoredata {
            position: absolute;
            width: 70%;
            height: 100%;
            right: -100%;
            top: 0;
            border: 1px solid var(--t);
            border-right: none;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background-color: var(--color-two);
            z-index: 8;
            transition:  right 0.4s ease-out;
            // overflow: scroll;
            > {
                .chosingDiv {
                    padding: 5px 20px;
                    
                    > div {
                        overflow: scroll;
                        overflow-x: hidden;
                        max-height: 65vh;
                        
                        table.tableshowinfo {                       
                            font-family: arial, sans-serif;
                            border-collapse: collapse;
                            width: 100%;
                            margin-top: 20px;
                            // border-collapse: separate;
                            overflow-y: scroll;
                            
                            
                            
                        th {
                            background-color: var(--t);
                            color: beige;
                            text-transform: capitalize;
                        }
                        td:last-of-type {
                            // text-align: center;
                            button.remove {
                                transition: 0.4s;
                                border: 2px solid transparent;
                                padding: 12px 20px;
                                color: white;
                                background-color: var(--t);
                                cursor: pointer;
                                width: 120px;
                                margin: 0;
                                text-transform: capitalize;
                                
                                &:hover {
                                    color: var(--t);
                                    background-color: white;
                                    border-color: var(--color-one);
                                }
                            }
                            
                        }
                        td,
                        th {
                            border: 1px solid var(--t);
                            text-align: left;
                            padding: 16px 8px;
                            
                        }
                    }
                    }
                    form {
                        > label:first-of-type {
                            display: block;
                            color: black;
                            text-indent: 15px;
                            margin: 25px 0 6px;
                            font-size: 16px;
                            text-transform: capitalize;
                            
                        }
                        .infoadd {
                            margin-top: 20px;
                            display: flex;
                            flex-direction: row;
                            align-items: stretch;
                            justify-content: flex-start;
                            
                            > div {
                                flex: 1;
                                label.active {
                                    margin-bottom: 10px;
                                    display: inline-block;
                                    padding-left: 10px;
                                    text-transform: capitalize;
                                }
                                display: flex;
                                flex-direction: column;
                                input {
                                    min-height: 50px;
                                    flex: 1;
                                    &.round {
                                        border-top-right-radius: 10px;
                                        border-bottom-right-radius: 10px;
                                    }
                                }
                            }
                            > button {
                                min-height: 50px;
                                display: block;
                                margin-bottom: 0;
                                transition: 0.4s;
                                border: 2px solid transparent;
                                padding: 12px 20px;
                                color: white;
                                background-color: var(--t);
                                cursor: pointer;
                                width: 160px;
                                margin: 0;
                                text-transform: capitalize;
                                &.activate {
                                    align-self: flex-end;
                                }
                                &:hover {
                                    color: var(--t);
                                    background-color: white;
                                    border-color: var(--color-one);
                                }
                            }
                            input {
                                padding: 8px 10px;
                                border: 2px solid white;
                                transition: 0.3s;
                                color: var(--t);
                                
                                &:focus {
                                    outline: none;
                                    border-color: var(--color-one);
                                        }
                                &::placeholder {
                                    font-weight: 500;
                                    text-transform: capitalize;
                    
                                }
                            }
                            div:first-child input {
                                border-top-left-radius: 10px;
                                border-bottom-left-radius: 10px;
                                
                            }
                            button:first-of-type {
                                border-top-right-radius: 10px;
                                border-bottom-right-radius: 10px;
                            }
                        }
                    }
                    h3 {
                        text-transform: capitalize;
                        width: fit-content;
                        position: relative;
                        margin: 0 0 15px;
                        &::after {
                            content: "";
                            position:absolute;
                            width: 100%;
                            height: 2px;
                            background-color: var(--t);
                            left: 0;
                            bottom:-10px;
                        } 
                    }
                }
            }
            &.activate {
                right: 0;
            }
            > button {
                margin: 15px 15px 15px auto ;
                display:block;
                $w:40px;
                width: $w;
                height: $w; 
                color: beige;
                background-color: var(--t);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid transparent;
                transition: 0.4s;
                cursor: pointer;
                &:hover {
                    border-color: var(--t);
                    background-color: transparent;
                    color: var(--t);
                }
                
            }
        }
        &.active {
            top: 0;
        }
        > {
            .icon {
                position: absolute;
                top: 10px;
                right: 10px;
                $w:40px;
                width: $w;
                height: $w; 
                color: beige;
                background-color: var(--t);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid transparent;
                transition: 0.4s;
                cursor: pointer;
                &:hover {
                    border-color: var(--t);
                    background-color: transparent;
                    color: var(--t);
                }
            }
        }
        .intro {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            flex-basis: 30%;
            position: relative;
            .contacts {
                // margin-top: -350px;

                // .adding {
                //     margin-top: 20px;
                //     display: flex;
                //     align-items: center;
                //     justify-self: flex-start;
                //     input {
                //         padding: 8px 20px;
                //         border: 2px solid var(--color-two);
                //         border-top-left-radius: 16px;
                //         border-bottom-left-radius: 16px;
                //         transition: 0.3s;
                //         color: var(--t);
                //         &:focus {
                //             outline: none;
                //             border-color: var(--color-one);
                //         }
                //         &::placeholder {
                //             font-weight: 500;
                //             text-transform: capitalize;
                //         }
                //     }
                //     button {
                //         padding: 8px 15px;
                //         text-transform: capitalize;
                //         border: 2px solid var(--color-two);
                //         background-color: var(--t);
                //         color: beige;
                //         border-left: none;
                //         border-top-right-radius: 16px;
                //         border-bottom-right-radius: 16px;
                //         cursor: pointer;
                //     }
                // }
                .showcontacts {
                    margin-top: 20px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    input {
                        padding: 8px 20px;
                        border: 2px solid var(--color-two);
                        border-radius: 16px;
                        transition: 0.3s;
                        color: var(--t);
                        max-width: 90%;
                        &:focus {
                            outline: none;
                            border-color: var(--color-one);
                                }
                        &::placeholder {
                            font-weight: 500;
                            text-transform: capitalize;

                        }
                    }
                    label {
                        font-weight: 500;
                        text-transform: capitalize;
                        margin-left: 10px;
                    }
                }
                
            }
            button.addmodfie {
                margin-top: auto;
                transition: 0.4s;
                border-radius: 50px;
                border: 2px solid transparent;
                padding: 12px 20px;
                color: white;
                background-color: var(--t);
                cursor: pointer;
                width: 160px;
                margin-left: auto;
                margin-right: auto;
                &:hover {
                    color: var(--t);
                    background-color: white;
                    border-color: var(--color-one);
                }
            }
            &::after {
                content: '';
                position: absolute;
                height: calc(100% + 20px);
                width: 2px;
                background-color: var(--t);
                top: -10px;
                right: 10px;
            }
            p {
                color: black;
                font-weight: 600;
                font-size: 22px;
                text-transform: capitalize;
            }
            span {
                margin-top: 10px;
                display: block;
                text-transform: capitalize;

            }
        }
        > form {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1px;
            &:first-of-type {
                margin-right: 20px;
            }
            &.changeAdd {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                > button {
                    padding: 8px 20px;
                    border: 2px solid var(--color-two);
                    border-radius: 16px;
                    transition: 0.3s;
                    color: var(--t);
                    max-height: 40px;
                    cursor: pointer;
                    
                }
            }
            input {
                padding: 8px 20px;
                border: 2px solid var(--color-two);
                border-radius: 16px;
                transition: 0.3s;
                color: var(--t);
                max-height: 40px;
                &:focus {
                    outline: none;
                    border-color: var(--color-one);
                }
                &::placeholder {
                    font-weight: 500;
                    text-transform: capitalize;

                }
            }
            label {
                font-weight: 500;
                text-transform: capitalize;
                margin-left: 10px;
            }
            
        }
    }
    .text {
        margin-bottom: 60px;
        
        h2 {
            font-weight: 800;
            font-size: 28px;
            text-transform: capitalize;
            margin-bottom: 17px;

            span {
                background-color: var(--t);
                padding: 4px;
                color: var(--color-one);
                margin: 0 3px;
                font-family: 'GeistMono';
                margin-top: 10px;
            }
        }

        p {
            position: relative;
            text-transform: capitalize;
            padding-left: 25px;

            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: var(--color-t);
                border-radius: 50%;
                left: 50%;
                transform: translateX(-50%);
                bottom: -30px;
            }

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: var(--t);
                left: 0;
                bottom: -22px;
            }
        }
    }
    > .searchingFilter {
        margin-bottom: 30px;
        > h2 {
            font-weight: bold;
            // font-size: 22px;
            text-transform: capitalize;
            margin-bottom: 20px;
        }
        > form {
            width: 100%;
            display: flex;
            
            input {
                height: 50px;
                flex: 1;
                padding: 8px 10px;
                border: 2px solid white;
                transition: 0.3s;
                color: var(--t);
                &:first-of-type {
                    border-radius: 10px 0 0 10px;
                }
                &:last-of-type {
                    border-radius: 0px 10px 10px 0px;
                }
                &:focus {
                    outline: none;
                    border-color: var(--color-one);
                        }
                &::placeholder {
                    font-weight: 500;
                    text-transform: capitalize;
    
                }
            }
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }
        th {
            background-color: var(--t);
            color: beige;
        }
        td,
        th {
            border: 1px solid var(--t);
            text-align: left;
            padding: 18px 8px;
        }
        

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        tr:not(:first-child) {
            transition: 0.3s;
            cursor: pointer;
        }
    }
    .info {
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            button {
                padding: 6px 12px;
                border: 2px solid transparent;
                font-weight: 500;
                font-size: 14px;
                border-radius: 7px;
                color: var(--t);
                color: beige;
                cursor: pointer;
            }
            button[do='remove'] {
                background-color: rgb(172, 6, 6);
                margin-right: 20px;
                transition: 0.2s;
                opacity: 0;
                visibility: hidden;
                &.active {
                    opacity: 1;
                    visibility: visible;
                }
            }
            button[do='add'] {
                background-color: rgb(11, 94, 11);
            }
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }
        th {
            background-color: var(--t);
            color: beige;
        }
        td,
        th {
            border: 1px solid var(--t);
            text-align: left;
            padding: 18px 8px;
        }
        

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        tr:not(:first-child) {
            transition: 0.3s;
            cursor: pointer;
        }
        tr.selected {
            background-color: var(--b);
            color: beige;
        }
        .switch{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            padding: 20px;
            button {
                padding: 8px 14px ;
                border: 2px solid var(--t);
                font-weight: 500;
                font-size:14px ;
                background-color: beige;
                cursor: pointer;
                transition: 0.3s;
                &.active {
                    background-color: var(--t);
                    color: beige;
                }
            }
        }
    }
}